.navbar-brand {
  font-family: 'Seaweed Script', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 41px;
  /* identical to box height */

  letter-spacing: 0.51em;

  color: #FF8A00;
}
