<div>
  <app-header></app-header>
  <div class="row w-100" *ngIf="mobVersion">
      <button type="button" class="custom-btn mt-3 m-auto w-auto" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        {{isCollapsed ? 'Show Filters' : 'Hide Filters'}}
      </button>
  </div>

  <div class="row w-100">
    <div class="col-2 p-0"
         id="collapseExample"
         [ngbCollapse]="isCollapsed"
         [ngClass]="mobVersion ? 'border-0 w-auto' : 'border-right vh-auto'"
    >
      <app-filter (onFiltersApplied) = 'onFiltersApplied($event)'></app-filter>
    </div>
    <div class="col-10 m-auto">
      <app-content *ngIf="selectedCatLength > 0"></app-content>
      <div class="text-center m-auto mt-5" *ngIf="selectedCatLength === 0">
        <h2 class="navbar-brand">Choose At Least One Category</h2>
      </div>
    </div>
  </div>
</div>
